.home {
    width: 100%;
    display: flex;
    padding: 5rem 0;
    justify-content: space-around;
}

.titleHome {
    color: aqua;
    font-size: 6rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.subTitleHome {
    font-size: 2rem;
    color: aqua;
}

.span {
    color: aqua;
}


.homeImage{
    max-width: 500px;
    height: 100px;
}

.homeImage img {
    border-radius: 8px;
}