.homeSection{
    display: flex;
    align-items: center;
    justify-content: center;
}


.home {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    gap: 3rem;
}


.home::after {
    display: block;
    content: "";
    background: url("../../../img/local-de-trabalho.jpg") no-repeat center center;
    background-size: cover;
}

.homeContent{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.titleHome {
    color: aqua;
    font-size: 7rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.subTitleHome {
    font-size: 2rem;
    color: aqua;
    margin-bottom: 1rem;
}

.btnPrimary{
    font-size: 1rem;
    font-family: "Righteous", sans-serif;
    cursor: pointer;
    color: #191e29;
    box-sizing: border-box;
    transition: 0.2s;
    min-width: 8rem;
    background-color: #08C6AB;
    color: #1A202c;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
}

.btnPrimary:hover,
.btnPrimary:focus {
    outline: none;
    box-shadow: 0 0 0 3px #01c38d;
}

.btnPrimary:disabled {
    opacity: 0.5;
    cursor: wait;
}

@media (max-width: 40rem) {
    .home::after {
        display: none;
    }
    .home {
        display: flex;
        flex-direction: column;
    }

    .titleHome {
        font-size: 5rem;
    }
    .subTitleHome {
        font-size: 1.5rem;
    }
    .homeContent{
        align-items: center;
    }
    body {
        background: url("../../../img/local-de-trabalho.jpg") no-repeat center center;
        width: 100%;
        background-size: cover;
    }
  }