.filter{
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filterOptions {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filterOptions div {
  flex: 1 1 0;
}