@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&family=Righteous&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding-top: 0;
    background: #778694;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    display: block;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #23253a;
}

a {
    text-decoration: none;
}

.container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.title {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1;
    font-size: 2rem;
}

.animeLeft {
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
    to {
        opacity: 1;
        transform: initial;
    }
}
