.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* .login::before {
    display: block;
    content: "";
    background: #23253a;
} */

/* .forms {
    max-width: 30rem;
    padding: 2rem;
} */

@media (max-width: 40rem) {
    .login {
        grid-template-columns: 1fr;
    }
    .login::before {
        display: none;
    }

    .forms {
        max-width: 100%;
    }
}
