.button {
    font-size: 1rem;
    font-family: "Righteous", sans-serif;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: aqua;
    color: #191e29;
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    transition: 0.2s;
    min-width: 8rem;
}

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #01c38d;
}

.button:disabled {
    opacity: 0.5;
    cursor: wait;
}
