.loginContainer {
    display: flex;
    justify-content: center;
}

.login {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    gap: 1rem;
}

.login::before {
    display: block;
    content: "";
    background: url("../../../img/background-image5.jpg") no-repeat center
        center;
    background-size: cover;
}

.form {
    max-width: 30rem;
    padding: 1rem;
    margin-top: 1rem;
}

.form button {
    margin-bottom: 1rem;
}

.form a {
    color: #bbb;
    text-decoration: underline;
}

.formCadastro {
    margin-top: 2rem;
}

.formCadastro a {
    text-decoration: none;
    color: #111;
}

.paragrafo {
    color: #aaa;
    margin-bottom: 1rem;
}

@media (max-width: 40rem) {
    .login {
        grid-template-columns: 1fr;
    }

    .login::before {
        display: none;
    }
    .form {
        max-width: 100%;
    }
}
